body,
ol,
ul,
p {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px;
}
.header_product_list {
  font-size: 40px;
  padding-left: 40px;
  width: 50%;
}
header p {
  margin: 0;
}
.buttons {
  padding-right: 40px;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  vertical-align: baseline;
  width: 50%;
}
.buttons button {
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px black;
  padding: 2px 5px;
  margin: 0 0 0 15px;
}
.body_container {
  margin: 20px;
}
.product_container {
  display: block;
  padding: 20px 10px 50px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.product_list {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  vertical-align: baseline;
  width: 100%;
}
.product_wrapper {
  max-width: 21%;
  min-width: 21%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  padding: 20px 15px 50px 15px;
  border: 1px solid black;
}
.delete-checkbox {
  align-self: flex-start;
}
footer {
  margin: 20px;
  padding: 10px;
}
footer p {
  font-size: 15px;
  text-align: center;
  width: 100%;
}
input[type="text"] {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid black;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
  width: 100%;
}
input:focus:invalid {
  outline: none;
}
.error {
  width: 100%;
  margin-top: 20px;
  font-size: 80%;
  color: black;
  background-color: white;
}
.error.active {
  padding: 0.3em;
}
.form_container {
  display: block;
  padding: 20px 10px 50px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#product_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px 0;
}
.form_row {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  vertical-align: baseline;
  width: 33%;
  margin: 10px 0;
}
.label {
  width: 25%;
}
.input {
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  width: 98%;
  border: 2px solid black;
}
.type_switcher_container {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  vertical-align: baseline;
  width: 33%;
  margin: 50px 0;
}
.type_switcher {
  margin-right: 30px;
}
#productType {
  border: 2px solid black;
  background-color: white;
  color: black;
  font-size: 80%;
}
.df_row {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  vertical-align: baseline;
  width: 33%;
  margin: 10px 0;
}
#Furniture {
  align-items: baseline;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  vertical-align: baseline;
  width: 33%;
  margin: 10px 0;
}
#Book {
  display: none;
}
#DVD {
  display: none;
}
.iner_row {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  vertical-align: baseline;
  width: 100%;
  margin: 10px 0;
}
